<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>login</title>
</head>
<body>

 <div class="ui centered column grid"><h4>Identifiez-vous  </h4></div>

    <div class="ui column">

        <div class="ui centered grid">

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Identifiez-vous</h1>

    <label for="inputUsername">Identifiant : </label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <br>

    <label for="inputPassword">Mot de passe : </label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>
    <br>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


{#    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#    See https://symfony.com/doc/current/security/remember_me.html#}

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>
    <br>

    <button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>
    <br>

    <a href="">Mot de passe oublié</a>

</form>
        </div>
    </div>

</body>

</html>
