<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>Login</title>
</head>
<body>

<div class="ui six column centered grid">
    <h1 class="column">Identifiez-vous</h1>
</div>

<form method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <div class="ui eight column centered grid" style="border: solid 1px red">
        <div class="column">
            <div class="ui form">

                <div class="field">
                    <label for="inputUsername">Identifiant : </label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                </div>

                <div class="field">
                    <label for="inputPassword">Mot de passe : </label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            </div>
        </div>
    </div>

    <div class="ui eight column centered grid" style="border: solid 1px red">
        <div class="row">

            <div class="column">
                <button class="ui big blue button" type="submit">
                    Connexion
                </button>
            </div>

            <div class="column">
                <input type="checkbox" name="_remember_me"> <label>Se souvenir de moi</label>
                <br>
                <a href="">Mot de passe oublié</a>
            </div>

        </div>
    </div>
</form>

</body>

</html>
