{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
<div class="ui container">

    <div class="row" >
        <div>
            <h1 class="ui header">Date du jour : {{ "now"| date("d/m/Y") }}</h1>
{#            <h1>{{ dump(sites) }}</h1>#}
{#            <h1>{{ dump(date_fin_affichage) }}</h1>#}
            <h1 class="ui header">Participant : {{ app.user.username}}  </h1>
            <br>
        </div>
    </div>

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Rechercher</button>
        {{ form_end(form) }}
    </div>

    <div class="row" >
        <table class="ui celled  striped table">
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscriptions/places</th>
                    <th>État</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for s in sorties %}
                    {% set dfa = s.DateHeureDebut.modify('+1 month') %}
                    {% if dfa >= date_jour %}
                    <tr id="testId">
                        <td>{{ s.nom }}</td>
                        <td>{{ s.DateHeureDebut | date("d/m/Y H:i") }}</td>
                        <td>{{ s.DateLimiteInscription | date("d/m/Y") }}</td>
                        <td>{{ s.NbInscriptionsMax }}</td>
                        <td>{{ s.etat.libelle}}</td>
                        <td></td>
                        <td><a href="{{ path('afficher_profil', {'id': s.organisateur.id}) }}">{{ s.organisateur.username }}</a></td>
                        <td>
                            {% if s.organisateur.username == app.user.username %}

                                {% if s.etat.id == 1 %} {# créée #}
                                    <a href="">Modifier</a> - <a href="">Publier</a>
                                {% elseif s.etat.id == 2 %} {# ouverte #}
                                    <a href="{{ path('afficher_sortie', {'id': s.id}) }}">Afficher</a> - <a href="">Annuler</a>
                                {% endif %}

                            {% else %}

                                {% if s.etat.id == 1 %} {# créée #}
                                    CRÉÉE
                                {% elseif s.etat.id == 2 %} {# ouverte #}
                                    <a href="{{ path('afficher_sortie', {'id': s.id}) }}">Afficher</a> - <a href="">S'inscrire</a>
                                {% elseif s.etat.id == 3 %} {# clôturée #}
                                <a href="">Afficher</a>
                                {% endif %}

                            {% endif %}

                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}

            </tbody>
        </table>

        <button class="ui blue button big ">Créer une sortie<a href=""></a></button>
    </div>

</div>

{% endblock %}

