{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}

<div class="ui one centered column grid">
    <div class="three wide column">

        <h1 class="ui center aligned header">{{ participant.username|upper }}</h1>

        <div class="">
            <span class="ui header">Prénom : </span>{{ participant.prenom }}<br>
            <span class="ui header">Nom : </span>{{ participant.nom }}<br>
            <span class="ui header">Téléphone : </span>{{ participant.telephone }}<br>
            <span class="ui header">Email : </span>{{ participant.mail }}<br>
            <span class="ui header">Ville de rattachement : </span>{{ participant.site.nom }}<br>
        </div>

        <div class="ui ">
            {% if participant == app.user %}
            <a type="button" class="ui big orange button" href="{{ path('modifier_profil', {'id': participant.id}) }}">Modifier le profil</a>
            {% endif %}
            <a type="button" class="ui big blue button" href="{{ path('main') }}">Retour</a>
        </div>

    </div>
</div>

{% endblock %}
