{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block main %}

    <h1>Mon profil</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    {{ form_row(form.site) }}
    {{ form_row(form.url_photo) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}



{% endblock %}
