{% extends 'base.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block main %}

    <div class= "ui centered column grid" style="margin-top: 1rem">
        <h1>{{ sortie.getNom()|upper }}</h1>
    </div>

    {% if sortie.getMotifAnnulation() != null %}
    <div class="ui four column centered grid" style="margin-top: 1rem">
        <div class="column">

            <div class="ui negative message">
                <h2 class="ui center aligned header">ATTENTION</h2>
                <h3 class="ui center aligned header">Cette sortie a été annulée pour cause de :
                <br>"&nbsp;{{ sortie.getMotifAnnulation() }}&nbsp;"</h3>
            </div>

        </div>
    </div>

    {% endif %}

    <div class="ui column" style="margin-top: 1rem">

        <div class="ui centered grid">

            <div style="line-height: 40px;display: flex">

                <div style="text-align:left">
                    <span class="ui header">Nom de la sortie : </span>{{ sortie.getNom() }}<br>
                    <span class="ui header">Date et heure de la sortie : </span>{{ sortie.getDateHeureDebut()|date('d/m/Y à H:i') }}<br>
                    <span class="ui header">Date limite d'inscription : </span>{{ sortie.getDateLimiteInscription()|date('d/m/Y') }}<br>
                    <span class="ui header">Nombre de places : </span>{{ sortie.getNbInscriptionsMax() }} personnes<br>
                    <span class="ui header">Durée : </span>{{ sortie.getDuree() }} min<br>
                    <span class="ui header">Description et infos : </span>{{ sortie.getInfosSortie() }}<br>
                </div>

            </div>

            <div style="line-height: 40px;display: flex">

                <div style="text-align:left">
                    <span class="ui header">Ville organisatrice : </span>{{ sortie.getSite().getNom() }}<br>
                    <span class="ui header">Ville : </span>{{ sortie.getLieu().getVille().getNom() }}<br>
                    <span class="ui header">Lieu : </span>{{ sortie.getLieu().getNom() }}<br>
                    <span class="ui header">Adresse : </span>{{ sortie.getLieu().getAdresse() }}<br>
                    <span class="ui header">Code postal : </span>{{ sortie.getLieu().getVille().getCodePostal() }}<br>
                    <span class="ui header">Latitude : </span>{{ sortie.getLieu().getLatitude() }}&nbsp;&nbsp;|&nbsp;&nbsp;
                    <span class="ui header">Longitude : </span>{{ sortie.getLieu().getLongitude() }}
                </div>

            </div>

        </div>
    </div>

    <div class="ui centered column grid" style="margin-top: 1rem">

        <a type="button" class="ui big blue button" href="{{ path('main') }}">Retour</a>
        <br>
        {# si la sortie a été annulée, on ne peut plus la modifier #}
        {# si l'utilisateur loggé est l'organisateur, alors il peut modifier la sortie #}
        {% if sortie.getMotifAnnulation() == null and sortie.getOrganisateur() == app.user %}
        <a type="button" class="ui big orange button" href="{{ path('modifier_sortie', {'id': sortie.id}) }}"> Modifier la sortie</a>
        {% endif %}
    </div>

    {% if listeInscriptions|length > 0 %}
    <div class="ui one centered column grid" style="margin-top: 3rem">
        <div class="ui four wide column">

            <h2 class="ui big header">Liste des participants inscrits :</h2>
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th>Pseudo</th><th>Nom</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscrit in listeInscriptions %}
                        <tr id="testId" >
                            <td><a href="{{ path('afficher_profil', {'id': inscrit.participant.id}) }}">{{ inscrit.participant.username }}</a></td>
                            <td>{{ inscrit.participant.prenom }} {{ inscrit.participant.nom|upper }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    {% endif %}
{% endblock %}
