{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block main %}

       <h1> <div class= "ui centered column grid"> AFFICHER UNE SORTIE </h1>

<div class="ui column">

    <div class="ui centered grid">

        <div style="line-height: 40px;display: flex">

            <div style="text-align:left">
                Nom de la sortie :<br>
                Date et heure de la sortie :<br>
                Date limite d'inscription :<br>
                Nombre de places :<br>
                Durée :<br>
                Description et infos :<br>
            </div>

            <div style="text-align:left">
                {{ sortie.getNom() }}<br>
                {{ sortie.getDateHeureDebut()|date('d/m/Y à H:i') }}<br>
                {{ sortie.getDateLimiteInscription()|date('d/m/Y') }}<br>
                {{ sortie.getNbInscriptionsMax() }} personnes<br>
                {{ sortie.getDuree() }} min<br>
                {{ sortie.getInfosSortie() }}<br>

            </div>

        </div>

        <div style="line-height: 40px;display: flex">

            <div style="text-align:left">
                Ville organisatrice :<br>
                Ville :<br>
                Lieu :<br>
                Adresse :<br>
                Code postal :<br>
                Latitude :<br>
                Longitude :<br>
            </div>
            <div style="text-align:left">
                {{ sortie.getSite().getNom() }}<br>
                {{ sortie.getLieu().getVille().getNom() }}<br>
                {{ sortie.getLieu().getNom() }}<br>
                {{ sortie.getLieu().getAdresse() }}<br>
                {{ sortie.getLieu().getVille().getCodePostal() }}<br>
                {{ sortie.getLieu().getLatitude() }}<br>
                {{ sortie.getLieu().getLongitude() }} <br>
            </div>

        </div>

    </div>

    <div class="ui centered column grid">

        <button class="ui button"><a type="button" href="{{ path('main') }}">Retour</a></button>
        <br>
        <button class="ui button"> <a type="button" href="{{ path('modifier_sortie', {'id': sortie.id}) }}"> Modifier la sortie</a></button>
    </div>
    {# si l'utilisateur loggé est l'organisateur, alors il peut modifier la sortie #}
    {% if sortie.organisateur.username == app.user.username %}

    {% endif %}

    <table class="ui celled  striped table">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>


        {% for inscrit in listeInscriptions %}
            <tr id="testId" >
                <td>{{ inscrit.participant.username }}</td>
                <td><a href="{{ path('afficher_profil', {'id': inscrit.participant.id}) }}">{{ inscrit.participant.nom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button onclick="ouvrire()">Test</button>
    <a href="javascript:traductionElement();">traduction</a>
    <div id="test" />

    <script>
        function ouvrire(){
            var nom = prompt("Entrez votre nom: ", "alex");
            document.write("Vous avez entré: " + nom);
            var prenom = prompt("Entrez votre nom: ", "alex");
            document.write("Vous avez entré: " + prenom);
        }

    </script>



    {% endblock %}
