{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}

{% block main %}

    <div class="ui one centered column grid">
        <div class="five wide column">

            <h1 class="ui center aligned header">ANNULER UNE SORTIE</h1>

            <div><span class="ui header">Nom de la sortie : </span>{{ sortie.getNom() }}</div>
            <div><span class="ui header">Date de la sortie : </span>{{ sortie.getDateHeureDebut()|date('d/m/Y') }}</div>
            <div><span class="ui header">Ville organisatrice : </span>{{ sortie.getSite().getNom() }}</div>
            <div><span class="ui header">Lieu : </span>{{ sortie.getLieu().getNom() }}, {{ sortie.getLieu().getVille().getCodePostal() }} {{ sortie.getLieu().getVille().getNom() }}</div>

            <div class="ui form">
                {{ form_start(form) }}
                <div class="inline field"><span class="ui header">{{ form_label(form.motif_annulation) }}</span>{{ form_widget(form.motif_annulation) }}</div>
                <button type="submit" class="ui big red button">Annuler la sortie</button>
                <a type="button" class="ui big blue button" href="{{ path('main') }}">Retour à l'accueil</a>
                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}
