{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block titrePage %}
<div class="ui two column centered grid">
    <div class="column">
        <h1 class="ui centered grid">CRÉER UNE SORTIE</h1>
    </div>
</div>
{% endblock %}

{% block main %}
    {{ app.user.site.nom }}
    <div class="ui two column centered grid">
        <div class="four column centered row">
            <div class="column">

    {{ form_start(form) }}
                <div>
                    {{ form_row(form.nom) }}
                    {{ form_row(form.date_heure_debut) }}
                    {{ form_row(form.date_limite_inscription) }}
                    {{ form_row(form.nb_inscriptions_max) }}
                    {{ form_row(form.duree) }}
                    {{ form_row(form.infos_sortie) }}
                </div>
            </div>

            <div class="column">
                <div>
                    {{ form_row(form.site | quimper) }}
                    <br>
                    ville
                    <br>
                    <i id="plus" class="plus circle icon" onclick="ajoutDuLieu()"></i>
                    <div id="formulaireCache" onload="cacher()" style="display: none">
                        <div>
                            {{ form_row(form.lieu) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{#    <br>#}
{#    rue#}
{#    <br>#}
{#    code_postal#}
{#    <br>#}
{#    latitude#}
{#    <br>#}
{#    longitude#}



    <div class="ui two column centered grid">
        <div class="seven column centered row">
            <div class="column">
                <a type="button" href="{{ path('creer_sortie') }}">
                    <button class="big ui button blue">Enregistrer</button>
                </a>
            </div>
            {{ form_end(form) }}
            <div class="column">
                <a type="button" href="{{ path('main') }}">
                    <button class="big ui button blue">Publier la sortie</button>
                </a>
            </div>

            <div class="column">
                <a type="button" href="{{ path('main') }}">
                    <button class="big ui button blue" >Annuler</button>
                </a>
            </div>
        </div>
    </div>

{{ form_start(form2)}}

{{ form_widget(form2) }}

{{ form_end(form2) }}
    <h1>Formulaire 3</h1>
    {{ form_start(form3)}}

    {{ form_widget(form3) }}

    {{ form_end(form3) }}


        <a type="button"  onclick="ajoutOption()">
            <button class="big ui button blue"onclick="ajoutOption()" >Afficher</button>
        </a>


    <script>
        function cacher(){
           document.getElementById("formulaireCache").style.visibility = "hidden";
        }

        function ajoutDuLieu(){
            console.log('J affiche');
            document.getElementById("formulaireCache").style = "block";
            let div = document.getElementById("plus");
            let champFormulaire = document.createElement("sortie_lieu");
            div.appendChild(champFormulaire);
        }

        function ajoutOption(){
            let selectOption =  document.getElementById("ville_nom");
            let option = document.createElement("option");
            option.value = "Paris";
            option.innerText = "paris";
            selectOption.appendChild(option);
        }

    </script>
{% endblock %}
