{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block titrePage %}
    <div class="ui two column centered grid">
        <div class="column"> <h1 class="ui centered grid">Modifier une sortie</h1></div>
    </div>
{% endblock %}

{% block main %}
{#    <h1>Nom du user : {{ app.user.nom }} {{ app.user.username }} {{ app.user.site.nom }}</h1>#}
    <script>
        <!-- à garder -->
        // //let objetLieu = new Object();
        let objetLieu = [];// ici c'est un tableau pas un objet. Nom à changer
        <!-- Fin à garder -->

        // let objetLieu = [];

    </script>

    {% for p in lieux %}
        <script>
            {#let lieuEntier = new Object();#}
            {#lieuEntier.ville = '{{ p.ville.nom }}';#}
            {#lieuEntier.lieuNom = '{{ p.nom }}';#}
            {#lieuEntier.lieuNom = '{{ p.nom }}';#}
            {#objetLieu.push({})#}

            <!-- à garder -->
            objetLieu.push({'{{ p.ville.nom }}': '{{ p.nom }}'})
            <!-- Fin à garder -->
    {#objetLieu ['{{ p.ville.nom }}'] = '{{ p.nom }}';#}

    <!-- bbbba garder -->
            {#objetLieu['{{ p.ville.nom }}'] = '{{ p.nom }}';#}
<!-- fin bbbbde garder -->
            {#let vil = '{{ p.ville.nom }}';#}
            {#console.log(vil);#}
            {#tableaulieu[vil].push('{{ p.nom }}');#}
            {#console.log(tableaulieu);#}
            {#tableaulieu.push('{{ p.ville.nom }}');#}
            {#console.log('{{ p.ville.nom }}');#}
        </script>
    {% endfor %}
    <div class="ui two column centered grid">
        <div class="four column centered row">
            <div class="column">
    {{ form_start(form) }}

                <div>
                    <span id="name">{{ form_row(form.nom) }}</span>
                    {{ form_row(form.date_heure_debut) }}
                    {{ form_row(form.date_limite_inscription) }}
                    {{ form_row(form.nb_inscriptions_max) }}
                    {{ form_row(form.duree) }}
                    {{ form_row(form.infos_sortie) }}
                </div>
            </div>


            <div class="column">
                <div>
                    {{ form_row(form.site) }}
                    {#{{ form_row(form.lieu.ville.nom) }}#}

                    <span id="lieu" onchange="obtenirNom()">{{ form_row(form.lieu.ville.nom) }}</span>

                    {#{{ form_row(form.lieu.nom) }}#}

                    <span id="lieuNom" onclick="donnerDesValeurs()" >{{ form_row(form.lieu.nom) }}</span>

                    {{ form_row(form.lieu.adresse) }}
                    {{ form_row(form.lieu.ville.code_postal) }}
                    {{ form_row(form.lieu.latitude) }}
                    {{ form_row(form.lieu.longitude) }}
                </div>
            </div>
        </div>
    </div>


    <div class="ui four column centered grid">
        <div class="height column centered row">
            <div class="column">
                <button class="big ui button blue" type="submit">Enregistrer</button>
            </div>
            {{ form_end(form) }}

            <div class="column">
                <a type="button" href="{{ path('main') }}">
                    <button class="big ui button blue">Publier la sortie</button>
                </a>
            </div>

            <div class="column">
                <a type="button" href="{{ path('main') }}">
                    <button class="big ui button blue">Supprimer la sortie</button>
                </a>
            </div>

            <div class="column">
                <a type="button" href="{{ path('main') }}">
                    <button class="big ui button blue">Annuler</button>
                </a>
            </div>
        </div>
    </div>

    <script>
        // let test = document.getElementById("sortie_nom").value;
        // console.log(test);
        // console.log("ok");



        <!------ partie  -->
        let lieuVilleChargement = document.getElementById("sortie_lieu_ville_nom").value;
        lieuVilleChargement.toLowerCase();
        console.log("Lieu de la ville au chargement : " + lieuVilleChargement);
        console.log(objetLieu);

        function obtenirNom(){
            let lieuVilleChangement = document.getElementById("sortie_lieu_ville_nom").value;
            console.log(lieuVilleChangement.toLowerCase());

            //efface le code postal en cas de changement de ville
            if(lieuVilleChargement.toLowerCase() !== lieuVilleChangement.toLowerCase()){
                let codePostal = document.getElementById("sortie_lieu_ville_code_postal");
                codePostal.value= "";
            }
        }

        function donnerDesValeurs(){
            let nomLieu = document.getElementById("sortie_lieu_ville_nom");
            let nomDuLieu = nomLieu.value.toLowerCase();

            //selectionne les lieux déjà dispos
            for(var s in objetLieu){
                for(var key in objetLieu[s]){
                    if(key.toLowerCase() === nomDuLieu){
                        console.log(key + " " + objetLieu[s][key]);
                        let option = document.createElement("input");//ici choisir la balise à ajouter
                        //option.type = "button";
                        option.value = objetLieu[s][key];
                        //option.placeholder = objetLieu[s][key];
                        option.onclick = function(){
                            let nomLieu = document.getElementById("sortie_lieu_nom");
                            let nomDuLieu = option.value;
                            nomLieu.value = nomDuLieu;
                        }
                        let nouvelleBaliseHTML = document.getElementById("lieu");
                        nouvelleBaliseHTML.appendChild(option);
                    }
                }
            }
        }

    </script>
{% endblock %}

